#new_outer_div{
background-color: rgb(229, 242, 242);
width:60vw;
height:500px;
position:absolute;
top:20%;
left:20%;
padding:10px;
box-shadow:rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
#select_member_outer_div{
width:100%;
height:80%;
background-color:white;
display:flex;
justify-content:center;
}
#select_member{
    
width:100%;
height:100%;
background-color:rgb(223, 110, 249);
margin:1%;
display:flex;
flex-direction:column;
align-items:center;
/* justify-content:center; */
}
#selected_member{
width:49%;
height:100%;
margin:1%;
background-color:yellow;
display:flex;
justify-content:center;
}